/* Classes */
:root {
    overscroll-behavior: none;
    overflow-x: hidden;
  }
  
.cmiddle {   /* Centers content vertically */                                      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rmiddle {  /* Centers content horizontally */                                         
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left { /* Pushes content to the left */
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.right { /* Pushes content to the right */
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}

.pushR {
    margin-left: auto;
}